body {
  font-family: 'open-sans';
  background: black;
  color: white;
  overflow: hidden;
}

/*
  Font
*/
@font-face {
  font-family: 'open-sans';
  font-weight: 300;
  src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'open-sans';
  font-style: italic;
  src: url('../fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: 'open-sans';
  font-weight: 400;
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'open-sans';
  font-weight: 700;
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'open-sans';
  font-style: italic;
  src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
}

/*
  Wraps all Views
*/
.wrapper {
}

/*
  View - shared styles
*/
.view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 3rem;

  z-index: -100;
  display: none;
}

.view .hd {
  height: 10vh;
  line-height: 10vh;
}

.view .hd img {
  height: 10vh;
  vertical-align: middle;
  padding-right: 2vw;
}

/*
  Scrolling
*/
.view .scrollable-frame {
  height: 580px;
  overflow: hidden;
}

.view .scrollable-frame > * {
  transition: transform 2s;
}

.view.current {
  display: block;
}

@-webkit-keyframes incoming {
  from { -webkit-transform: translateX(200%); opacity: 0; }
  50% { opacity: 1; }
  to { -webkit-transform: translateX(0); opacity: 1; }
}

@-webkit-keyframes outgoing {
  from { -webkit-transform: translateX(0); opacity: 1; }
  40% { opacity: 0; }
  to { -webkit-transform: translateX(-50%); opacity: 0; }
}

.view.incoming {
  -webkit-animation: incoming 2s;
  z-index: 100;
  display: block;
}

.view.outgoing {
  -webkit-animation: outgoing 4s forwards;
}

/* tables full-width */
.view table {
  width: 100%;
}

.view td {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 244, 0.2);
/*  font-size: 5rem;*/
  font-size: 4rem;
}

/*  general styling for matrics */
.view .metric {
  font-size: 9rem;
  padding: 0 0 10vh 0;
  margin: 0;
  line-height: 9rem;
}

.view .value {
  color: rgb(1,98,187);
}

/* new data strip along bottom */
.new-data {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 25vh;
  font-size: 16vh;
  text-align: center;

  z-index: 200;

  perspective: 100px;
}

.new-data-inner {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;

    transition: opacity 0.6s;
    opacity: 0;
}

.new-data-inner.flyInBottom {
  opacity: 1;
}

/*
  View: images
*/
.view#images {
  padding: 0;
}

.view#images div {
  height: 50%;
  width: 50%;
  float: left;
  overflow: hidden;
}

.view#images img {
  width: 100%;
}
