body {
  background: black;
  color: white;
}

/*
  Wraps all Views
*/
.wrapper {
}

/*
  View - shared styles
*/
.view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 3rem;

  z-index: -100;
  display: none;
}

.view.current {
  display: block;
}

@-webkit-keyframes incoming {
  from { -webkit-transform: translateX(200%); }
  to { -webkit-transform: translateX(0) ; }
}

@-webkit-keyframes outgoing {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%) ; }
}

.view.incoming {
  -webkit-animation: incoming 4s;
  z-index: 100;
  display: block;
}

.view.outgoing {
  -webkit-animation: outgoing 4s forwards;
}

/* tables full-width */
.view table {
  width: 100%;
}

.view td {
  padding: 1rem;
  border: 1px solid #fff;
}

/*  general styling for matrics */
.view .metric {
  font-size: 12vw;
  padding: 0 0 10vh 0;
  margin: 0;
  line-height: 12vw;
}

.view .value {
  color: blue;
}

/* new data strip along bottom */
.new-data {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 25vh;
  font-size: 16vh;
  text-align: center;

  z-index: 200;

  perspective: 100px;
}

.new-data-inner {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;

    transition: opacity 0.6s;
    opacity: 0;
}

.new-data-inner.flyInBottom {
  opacity: 1;
}

/*
  View: images
*/
.view#images {
  padding: 0;
}

.view#images div {
  height: 50%;
  width: 50%;
  float: left;
  overflow: hidden;
}

.view#images img {
  width: 100%;
}
