body {
  background: black;
  color: white;
}

/*
  views
*/
.view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0;

  z-index: -100;
  display: none;
}

.view.current {
  display: block;
}

@-webkit-keyframes incoming {
  from { -webkit-transform: translateX(200%); }
  to { -webkit-transform: translateX(0) ; }
}

@-webkit-keyframes outgoing {
  from { -webkit-transform: translateX(0); }
  to { -webkit-transform: translateX(-100%) ; }
}

.view.incoming {
  -webkit-animation: incoming 4s;
  z-index: 100;
  display: block;
}

.view.outgoing {
  -webkit-animation: outgoing 4s forwards;
}

.view#images div {
  height: 50%;
  width: 50%;
  float: left;
  overflow: hidden;
}

.view#images img {
  width: 100%;
}
